*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mdiv{
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0px 30px 0px;
    background-color: rgb(217, 217, 252);
    align-items: center;
}
.flex{
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
}
.anch{
    display: flex;
    width: 600px;
    justify-content: space-evenly;
}
.ficon{
    font-size: 30px;
}